{{#each model as |author|}}
  <section>
    <h1>Posts of {{author.firstName}} {{author.lastName}}</h1>

    <ul>
      {{#each author.blogPosts as |blogPost|}}
        <li>{{blogPost.title}}</li>
      {{/each}}
    </ul>
  </section>
{{/each}}
